<div class="container pt-5">
  <div class="card mb-3" style="max-width: 1500px;" *ngFor="let beer of beerList">
    <div class="row g-0 card-hover">
      <div class="col-md-2 align-img">
        <img [src]="beer.image_url" class="img-fluid rounded-start" style=" max-width: 30%; " href="#"
          [mdbTooltip]="beer.ingredients" placement="top" />
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{beer.name}}</h5>
          <h6 class="card-title" style="color: darkgoldenrod;">{{beer.tagline}}</h6>
          <p class="card-text">
            {{beer.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <p class="load-more"><a (click)="loadMoreList()"> Load More <i class="fa-solid fa-angle-down"></i></a></p>
</div>